RewriteEngine On
RewriteBase /

# Store the current location in an environment variable CWD
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
RewriteRule ^.*$ - [E=CWD:%2]

RewriteRule ^(v/.*)$ %{ENV:CWD}?v=$1 [R=307,B,QSA,NE,L]
